<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CarVision - Criar Contas</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="../../assets/images/icon_aba.ico" type="image/x-icon">

</head>
<body>
  <div class="diagonal-maior"></div>  
  <div>
    <img class="logo-background" src="../../assets/images/icon_background.png">
  </div>
  <section>
  <div class="container-box">
    <div>
      <img class="logo" src="../../assets/images/icon_txt.png">
    </div>
    <input type="text" class="input-box" placeholder="Nome">
    <input type="email" class="input-box" placeholder="Email">
    <input type="password" class="input-box" placeholder="Nova senha">
    <input type="password" class="input-box" placeholder="Confirmar senha">
    <div class="button-box">
      <button class="btn btn-primary btn-entrar">Cadastrar</button><br><br>
      <button class="btn btn-secondary btn-cadastrar">Voltar</button>
    </div>
  </div>
  </section>
</body>
</html>